@include screen-lg {
  .menu, .red {
    display: none !important;
  }

  header {
    padding: 5% 100px !important;
    justify-content: center;
  }
}

@include screen-md {
  .container {
    scroll-snap-type: unset !important;
  }

  .infos__title {
    font-size: 53px !important;
    line-height: 42px !important;
  }

  @media screen and (max-width: 1150px) {
    .blue, .yellow { height: auto !important; }
    .blue main { height: 450px; }

    header {
      padding: 5% 5% !important;
      flex-direction: column !important;
      .infos-container {
        padding-top: 50px;
      }
      .card-container {
        margin-right: 0 !important;
      }
    }

    main {
      padding: 0 10% 10% 10% !important;
    }
  }

  @media screen and (max-width: 1000px) {
    .white {
        .container { padding: 0 15px; }
        height: 120vh !important;

        article { 
            width: unset !important;
            max-width: 400px; 
        }

        .container__title { text-align: center; }

        .container__articles {
            flex-direction: column;
            text-align: center;
            gap: 50px !important;

            .stacks__icons { justify-content: center; }
        }
    }
  }

  @media screen and (max-width: 700px) {
    .infos-container {
      display: block !important;
      text-align: center;
      padding-top: 40px !important;

      .infos__title {
        padding-right: 0 !important;
        margin-bottom: 20px;
        font-size: 50px !important;
        line-height: 47px !important;
      }

      .infos__title-desc {
        margin: 40px 0;
      }
    }

    @include screen-sl {
      .blue { 
        height: 190vh !important;
        main {height: unset !important;} 
      }
      .yellow { height: 145vh !important; }
      .white { height: 130vh !important; }

      main .row {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
      }

      .project {
        min-width: 383px !important;
        height: 214px !important;
      }
    }

    @media screen and (max-width: 500px) {
      main .row {
        gap: 60px;
      }
    }

    @media screen and (max-width: 400px) {
      .project {
        min-width: 315px !important;
        height: 165px !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) and (max-height: 750px) {
  .white { height: 160vh !important; }
}

@media screen and (max-width: 600px) and (max-height: 770px) {
  .blue { height: 200vh !important; }
  .white { height: auto !important;  padding: 100px 0; }
}

@media screen and (max-width: 385px) and (max-height: 740px) {
  .yellow { height: auto !important; }
  .blue { height: 205vh !important; }
  .white { padding: 150px 0 !important; }
}

@media screen and (max-width: 385px) and (max-height: 700px) {
  .blue { height: 225vh !important; }
}