@import "config";
@import "responsive";

.container {
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    &.menuIsActive { overflow: hidden; }
  
    section {
      height: 100vh;
      width: 100vw;
      scroll-snap-align: start;
    }
  }
  
  .blue {
    background-color: $blue-page-bg;
    background-image: url("/static/wave.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .yellow {
    background-color: $yellow-page-bg;
    background-image: url("/static/wave2.webp");
    background-position: center top -1px;
    background-repeat: no-repeat;
  }
  
  .green {
    background-color: #013220;
  }
  
  .yellow * {
    color: #000080;
  }
  
  /* left menu */
  
  .blue .menu {
    position: fixed;
    z-index: 2;
    padding: 3.6rem 6rem;
    padding-right: 0;
    flex-direction: column;
    align-items: start;
    height: 100%;
  
    &.active {
      div * { color: $blue-text; }
    }
  
    h1 {
      font-size: 30px;
      font-weight: 900;
    }
  
    p {
      font-size: 19px;
      padding-left: 4px;
    }
  
    > .menu__top {
      overflow: hidden;
    }
  }
  
  .menu__bottom {
    overflow: hidden;
  }
  
  .menu__works {
    position: relative;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    transition: left 800ms ease-out;
  }
  
  /* menu_top transition style */
  
  .menu_top_title {
    position: relative;
    left: 0;
    transition: left 600ms ease-out;
  }
  
  /* title swap */
  
  .title-t {
    transition: left 1.3s ease-in-out;
  }
  
  .title-t2 {
    transform: left 100ms ease-out;
  }
  
  .menu_title_active {
    position: relative;
    top: 35px;
    left: -50px;
    transition: left 1s ease-in-out;
  }
  
  /* center */

  .hamburger-container {
    position: absolute;
    top: 0;
    left: -200px;
    transition: left 1000ms ease-out;
  }

  .hamburger {
    min-width: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;

    span {
      background: #fff;
      width: 24px;
      height: 3px;
      display: block;
      cursor: pointer;
      position: relative;

      &:nth-child(1) { transition: all 0.5s cubic-bezier(0.23, 1, 0.38, 1); }
      &:nth-child(2) { transition: all 0.5s cubic-bezier(0.23, 1, 0.38, 1) 0.1s; }
      &:nth-child(1).active { transform: rotate(45deg);}
      &:nth-child(2).active {  transform: rotate(-45deg) translateX(5.5px) translateY(-5px); }
    }

  }
  
  .menu__center {
    overflow: hidden;
    position: relative;
  
    .menu_about {
      position: relative;
      padding-right: 60px;
      line-height: 35px;
  
      li {
        position: relative;
        font-weight: 500;
        list-style: none;
        left: 0;  

        &:hover {
          opacity: .7;
          transition: all 600ms ease;
        }

        &:nth-child(1) {
          transition: left 600ms ease-out;
        }
  
        &:nth-child(2) {
          transition: left 800ms ease-out;
        }
  
        &:nth-child(3) {
          transition: left 1000ms ease-out;
        }
      }
    }
  }
  
  /* menu_center transition style */
  
  /* blue page style */
  
  header {
    padding: 6.2rem 20%;
    padding-bottom: 4rem;
    padding-right: 2rem;
    position: relative;
  
    .buzz {
      object-fit: cover;
    }
  
    .infos-container {
      .infos__title {
        font-size: 60px;
        font-weight: 900;
        line-height: 55px;
        padding-right: 50px;
        min-width: 220px;
  
        span {
          font-size: 50px;
        }
      }
  
      .infos__title-desc {
        position: relative;
        max-width: 570px;
        font-size: 17px;
        z-index: 2;
  
        &::after {
          content: "UX/UI";
          color: $black-sub-text;
          font-weight: 600;
          font-size: 3.6em;
          line-height: 0.8em;
          letter-spacing: -0.7px;
          opacity: .4;
          top: -6px;
          position: absolute;
          right: 20px;
          z-index: -1;
        }
  
        span {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
  
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  
    .main-title {
      font-weight: 700;
      padding-bottom: 30px;
      font-size: 40px;
      text-align: center;
    }
  
    .row .column {
      ul {
        line-height: 30px;
      }
  
      position: relative;
      flex-direction: column;
      text-align: center;
  
      h2 {
        position: relative;
        z-index: 2;
        padding-bottom: 10px;
        font-size: 27px;
  
        &::after {
          content: attr(data-step);
          font-size: 40px;
          color: $black-sub-text;
          z-index: -1;
          opacity: 1;
          position: absolute;
          left: -30px;
          top: -27px;
          font-weight: 800;
        }
      }
  
      ul li {
        list-style: none;
      }
    }
  }
  
  /* transition: all 508ms cubic-bezier(.77, 0, .175, 1); */
  /* card */
  
  .card-container {
    width: 13rem;
    height: 13rem;
    border-radius: 9999px;
    cursor: pointer;
    margin-right: 60px;
    background: none;
  }
  
  .card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  
    &:hover {
      transform: rotateY(180deg);
    }
  
    * {
      position: absolute;
      top: 0;
      left: 0;
      width: 13rem;
      height: 13rem;
      border-radius: 10px;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 9999px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .card-back {
    background: #fafafa;
    transform: rotateY(180deg);
  
    h1 {
      color: #000;
    }
  }
  
  /* end card */
  
  /* yellow */
  
  .yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .projects-container .works__title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
  }
  
  .projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-flow: wrap;
  }
  
  .projects-container .projects-wrapper .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    .project {
      min-width: 550px;
      height: 300px;
      border-radius: 15px;
      background-color: $blue-page-bg;
      overflow: hidden;
      cursor: pointer;

      &:hover .project-child,
      &:focus .project-child {
        transform: scale(1.05);
      }

      .project-child {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: transform 500ms;
        position: relative;

        a {
          width: 100%; height: 100%; 
          display: block;
        }
      }

      #minecraft { background-image: url("../static/minecraft.webp"); }
      #marketplace { background-image: url("../static/marketplace.webp"); }
    }
  }
  
  .project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .red {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #ff2f00;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;

    aside {
      padding: 250px;
      padding-left: 270px;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      height: 100%;

      .red_container {
        width: 100%;
        justify-content: space-between;
        align-items: unset !important;

        &__forms {
          form { 
            flex-direction: column; 
            h1 {
              color: #fff;
              text-align: left;
              font-size: 30px;
              margin-bottom: 20px;
            }
          }          
          input {
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
            color: #fff;
            font-size: 15px;
            &:not(:last-child) { margin-bottom: 15px; }

            &::placeholder { color: #fff; }
          }

          textarea {
            width: clamp(430px, 430px, 430px) !important;
            height: clamp(115px, 115px, 115px) !important;
            padding: 3px;
            color: #efecec;
          }

          &-textarea {
            margin-top: 16px;
            align-items: unset !important;

            h2 {
              color: #fff;
              margin-right: 40px;
              font-size: 19px;
            }
          }

          button {
            color: #fff;
            font-size: 20px;

            &::after {
              content: "";
              display: block;
              width: 100%;
              border-bottom: 2px solid #fff;
              transition: width 300ms ease-in-out;
            }

            &:hover { 
              &::after {width: 0%;} 
            }
          }
        }

      }

      ul li { 
        font-size: 50px; 
        font-weight: 700;
        margin-bottom: 10px;
        transition: 400ms ease-out;

        a { color: #fff; }
        &:hover {
          opacity: .4;
        }
      }

    .socials {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;

        i { font-size: 30px; cursor: pointer; }
      }
    }
  }

  .red.active {
    transform: unset;
  }